
*.vsidx
XylRacesNixie/.vs/XylRacesNixie/v17/.suo
/XylRacesNixie/.vs
/XylRacesNixie/Assemblies
/XylRacesNixie/obj
*.user
/Source/.vs
/Source/obj
/Source/bin
/XylRacesDvergr/obj
/XylRacesDvergr/bin
/XylRacesDvergr/bin
/XylRacesNixie/bin
Art/Game art source - Biotech.zip
/XylRacesWarcat/obj
/XylRacesCore/obj
Art/Game art source - RimWorld.zip
XylRacesCore/Assemblies/XylRacesCore.dll
