
*.vsidx
XylRacesNixie/.vs/XylRacesNixie/v17/.suo
/XylRacesNixie/.vs
/XylRacesNixie/Assemblies
/XylRacesNixie/obj
*.user
/Source/.vs
/Source/obj
/Source/bin
/XylRacesDvergr/obj
/XylRacesDvergr/bin
/XylRacesDvergr/bin
/XylRacesNixie/bin
Art/Game art source - Biotech.zip
/XylRacesWarcat/obj
/XylRacesCore/obj
Art/Game art source - RimWorld.zip
XylRacesCore/Assemblies/XylRacesCore.dll
/XylRacesBossaps/obj
/XylRacesChyrr/obj
/XylRacesTitan/obj
/XylRacesTrog/obj
/XylRacesVereid/obj
/XylRacesZeegee/obj
/Build
/.vs
/Source_XylRaces/.vs
/Source_XylRaces/bin
/Source_XylRaces/obj
/Source_ExposableChecker/obj
/Source_ExposableChecker/bin
XylExposableChecker/Assemblies/XylExposableChecker.dll
/Source_XylIdeoTweaks/bin
/Source_XylIdeoTweaks/obj
XylIdeoTweaks/Assemblies/XylExposableChecker.dll
XylIdeoTweaks/Assemblies/XylIdeoTweaks.dll
/TranspilerUtil/bin
/TranspilerUtil/obj
XylIdeoTweaks/Assemblies/TranspilerUtil.dll
XylRacesCore/Assemblies/TranspilerUtil.dll
/XylIdeoTweaks/obj
